# Dependencies
node_modules
.pnpm-store

# Builds
dist
.next
.turbo
*.tsbuildinfo
coverage

# Env & secrets
.env
.env.local
.env.*.local
!.env.example

# IDE / OS
.idea
.vscode/*
!.vscode/extensions.json
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Prisma
packages/database/prisma/*.db
packages/database/prisma/*.db-journal

# Misc
tmp
.cache
